<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/app.css">
    <title></title>
</head>

<body>

<ul>
    <li><a href="../views/home.html">Home</a></li>
    <li><a href="../views/portfolio.html">Portfolio</a></li>
    <li><a href="../views/location.html">Location</a></li>
</ul>

<div class="logo" width="100%"><img src="../assets/wrench-logo.png" class="image"></div>

<div class="contact-info"><i class="glyphicon glyphicon-envelope"></i> knapmanplumbing@gmail.com
    </br><i class="glyphicon glyphicon-phone"></i>  0191 194 5674
</div>

<div class="grow pic">
    <img src="../assets/boiler-plumber.jpg" alt="portrait">
</div>

<div class="grow pic2">
    <img src="../assets/sink.png" alt="portrait">
</div>

<div class="grow pic3">
    <img src="../assets/bath-plumber.jpg" alt="portrait">
</div>

<div class="info-box">

</div>

</body>
</html>